@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mountains+of+Christmas:wght@400;700&display=swap');

/*--------------------------------------------------------------header--*/

.header-bar {
    min-height: 120px;
    background-color: #304255;
    top: 0;
    left: 0;
    margin: 0 auto;
}

.title {
    font-family: 'Mountains of Christmas', sans-serif;
    text-align: center;
    margin-top: 15px;
    font-weight: 700;
    font-size: 46px;
    color: #d4d7da;
}

.subtitle {
    font-family: 'Mountains of Christmas', sans-serif;
    text-align: center;
    margin-top: 5px;
    font-weight: 300;
    font-size: 26px;
    color: #d4d7da;
}

/*---------------------------------------------------------------contents/dropdown--*/

.dropbtn {
  background-color: #304255;
  font-family: 'Mountains of Christmas', sans-serif;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: hidden;
  width: 100%;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #253241;
}

.dropdown {
  
  display: block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(48, 66, 85, 0.8);
  width: 100%;
  overflow: auto;
  z-index: 1;
  text-align: center;
}

.dropdown-content a {
  color: #d4d7da;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #304255;}

.show {display: block;}

/*--------------------------------------------------------------body--*/

.bg-color {
    background-color: #f0f8ff;
    height: 100%;
}

.intro {
    font-family: "Inter", sans-serif;
    text-align: justify;
    margin-top: 5px;
    padding: 20px;
    font-weight: 300;
    font-size: 16px;
    color: #253241;
}

.title-body {
    font-family: 'Mountains of Christmas', sans-serif;
    font-weight: 900;
}

.button-center {
    text-align: center;
    padding-bottom: 20px;
}

.fullscreenbtn {    
  background-color: #304255;
  font-family: 'Mountains of Christmas', sans-serif;;
  color: white;
  margin-top: 10px;
  padding: 16px;
  border: hidden;
  width: 30px;
  height: 30px;
  transform: 50%;
  border-radius: 15px;
  position: relative;
}

.fsicon {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
}


/*--------------------------------------------------------------carousel--*/

.carousel {
  display: block;
  margin-top: 1em;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  padding-bottom: 10px;
}

/*.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
   position: center;
}*/

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
        display: block;
        height: auto;
        line-height: 1;
        margin:auto;
        width: 1000px;
        }

.carousel-indicators li { visibility: hidden; }

.carousel-caption{
    color: #304255;
    background-color: rgb(212,215,218,0.2);
    top: 0;
    bottom: auto;
    border-radius: 25px;
}

.item img{
    height: auto;
    width: 1000px;
    position: relative;
}

/*--------------------------------------------------------------team--*/

.team {
    padding-bottom: 60px;
    padding: 20px;
    text-align: center;
}

.team-header{
    font-family: 'Mountains of Christmas', sans-serif;
    font-weight: 300;
    text-align: center; 
}

.team h4{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.team p {
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.doodle {
    width: 250px;
    height: 250px;
    padding: 0;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

/*--------------------------------------------------------------contact--*/

.center-form {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    max-width: 70%;
    min-height: 600px;
    position: relative;
}

.form {
    margin-top: 10px;
    padding: 30px;
}

.text-center {
    padding-top: 10px;
}

form textarea {
    min-height: 400px;
}

.submit-button {
  background-color: #304255;
  font-family: 'Mountains of Christmas', sans-serif;;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: hidden;
  border-radius: 15px;
}

/*--------------------------------------------------------------footer--*/



.my-footer {
    background-color: #d4d7da;
    color: #304255;
    font-family: "Inter", sans-serif;
    min-height: 30px;
    margin: 0;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
}

.column {
    width: 100%;
}

.column p {
    text-align: justify;
    margin: 1em;
}

.footer-element {
    line-height: 17px;
}

#about-div {
  background-color: #304255;
  font-family: 'Mountains of Christmas', sans-serif;;
  color: #f0f8ff;
  padding: 16px;
  font-size: 26px;
  border: hidden;
  width: 100%;
}

#about-div h5 {
  font-family: 'Mountains of Christmas', sans-serif;;
  color: #f0f8ff;
  padding: 16px;
  font-size: 26px;
  text-decoration: none;
}

/*--------------------------------------------------------------------media queries--*/


@media screen and (max-width: 992px) {
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
        display: block;
        height: auto;
        line-height: 1;
        margin:auto;
        width: 800px;
        }
.item img{
    height: 600px;
    width: 800px;
    position: relative;
}
}

@media screen and (max-width: 600px) {
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
        display: block;
        height: auto;
        line-height: 1;
        margin:auto;
        width: 400px;
        }
.item img{
    height: 300px;
    width: 400px;
    position: relative;
}
}

