@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mountains+of+Christmas:wght@400;700&display=swap');

/*--------------------------------------------------------------header--*/

.header-bar {
    min-height: 120px;
    background-color: #304255;
    top: 0;
    left: 0;
    margin: 0 auto;
}

.title {
    font-family: 'Mountains of Christmas', sans-serif;
    text-align: center;
    margin-top: 15px;
    font-weight: 700;
    font-size: 46px;
    color: #d4d7da;
}

.subtitle {
    font-family: 'Mountains of Christmas', sans-serif;
    text-align: center;
    margin-top: 5px;
    font-weight: 300;
    font-size: 26px;
    color: #d4d7da;
}

/*---------------------------------------------------------------contents/dropdown--*/

.dropbtn {
  background-color: #304255;
  font-family: 'Mountains of Christmas', sans-serif;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: hidden;
  width: 100%;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #253241;
}

.dropdown {
  
  display: block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(48, 66, 85, 0.8);
  width: 100%;
  overflow: auto;
  z-index: 1;
  text-align: center;
}

.dropdown-content a {
  color: #d4d7da;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #304255;}

.show {display: block;}

/*--------------------------------------------------------------body--*/

.bg-color {
    background-color: #f0f8ff;
    height: 100%;
}

.intro {
    font-family: "Inter", sans-serif;
    text-align: justify;
    margin-top: 5px;
    padding: 20px;
    font-weight: 300;
    font-size: 16px;
    color: #253241;
}

.title-body {
    font-family: 'Mountains of Christmas', sans-serif;
    font-weight: 900;
}

.button-center {
    text-align: center;
    padding-bottom: 20px;
}

.fullscreenbtn {    
  background-color: #304255;
  font-family: 'Mountains of Christmas', sans-serif;;
  color: white;
  margin-top: 10px;
  padding: 16px;
  border: hidden;
  width: 30px;
  height: 30px;
  transform: 50%;
  border-radius: 15px;
  position: relative;
}

.secretbtn {    
  background-color: #304255;
  font-family: 'Mountains of Christmas', sans-serif;;
  color: white;
  margin-top: 10px;
  padding: 16px;
  border: hidden;
  width: 170px;
  height: 70px;
  transform: 50%;
  border-radius: 5px;
  position: relative;
}

.fsicon {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
}


/*--------------------------------------------------------------carousel--*/

.carousel {
  display: block;
  margin-top: 1em;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  padding-bottom: 10px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
        display: block;
        height: auto;
        line-height: 1;
        margin:auto;
        width: 1000px;
        }

.carousel-indicators li { visibility: hidden; }

.carousel-caption{
    color: #304255;
    background-color: rgb(212,215,218,0.2);
    top: 0;
    bottom: auto;
    border-radius: 25px;
}

.item img{
    height: auto;
    width: 1000px;
    position: relative;
}

/*--------------------------------------------------------------team--*/

.team {
    padding-bottom: 60px;
    padding: 20px;
    text-align: center;
}

.team-header{
    font-family: 'Mountains of Christmas', sans-serif;
    font-weight: 300;
    text-align: center; 
}

.team h4{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.team p {
    text-align: justify;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.doodle {
    width: 250px;
    height: 250px;
    padding: 0;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

/*--------------------------------------------------------------contact--*/

.center-form {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    max-width: 70%;
    min-height: 600px;
    position: relative;
}

.form {
    margin-top: 10px;
    padding: 30px;
}

.text-center {
    padding-top: 10px;
}

form textarea {
    min-height: 400px;
}

.submit-button {
  background-color: #304255;
  font-family: 'Mountains of Christmas', sans-serif;;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: hidden;
  border-radius: 15px;
}

/*--------------------------------------------------------------footer--*/




.my-footer {
    background-color: #d4d7da;
    color: #304255;
    font-family: "Inter", sans-serif;
    min-height: 30px;
    margin: 0;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 7px;
    position: relative;
}

.my-footer p {
    font-family: "Mountains of Christmas", sans-serif;
    font-weight: 900;
    font-size: 20px;
    padding-top: 5px;
}

.list-inline-item i{
    font-size: 20px;
    text-decoration: none;
    color: #304255;
}

.list-inline-item i:hover{
    font-size: 20px;
    text-decoration: none;
    color: #f0f8ff;
}

.column {
    width: 100%;
}

.column p {
    text-align: justify;
    margin: 1em;
}

.footer-element {
    line-height: 17px;
}

/*-----------------------------------secret button--*/



#secret-btn {
  background-color: #304255;
  font-family: 'Mountains of Christmas', sans-serif;;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: hidden;
  width: 150px;
  text-align: center;
  border-radius: 15%;
  margin-bottom: 10px;
}

#secret-btn h5 {
    font-family: 'Mountains of Christmas', sans-serif;;
    color: white;
  padding: 16px;
  font-size: 26px;
  text-decoration: none;
}

#secret {
    background-color: #253241;
    color: #d4d7da;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    border: hidden;
    border-radius: 15%;
    margin-top: 30px;
}

#secret p {
    padding: 15px;
    text-align: justify;
}


/*--------------------------------------------------------------------quiz--*/
#overflow {
  background: inherit;
  color: inherit;
  padding: 15px;
  width: 60%;
  min-height: 300px;
  max-height:70vh;
  overflow: scroll;
  border: 4px solid #304255;
  margin: 0 auto;
  margin-bottom: 20px
}


.quiz-cont{
    position: relative;
    margin: 70px;
    
}
#quiz {
   width: 200px;
   text-align: justify;
   font-family: 'Inter', sans-serif;
   position: relative;
   
}
.question{
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  position: relative;
}


.answers {
    margin-bottom: 20px;
    text-align: left;
    width: 120px;
    font-size: 16px;
    position: relative;
}

.answers label {
    display: inline-block;
       position: relative;
}

#submit{
  font-family: sans-serif;
  font-size: 20px;
  background-color: #253241;
  color: #fff;
  border: 0px;
  border-radius: 15%;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
#submit:hover{
  background-color: #304255;
}



/*--------------------------------------------------------------------media queries--*/


@media screen and (max-width: 992px) {
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
        display: block;
        height: auto;
        line-height: 1;
        margin:auto;
        width: 800px;
        }
.item img{
    height: 600px;
    width: 800px;
    position: relative;
}
.quiz-cont{
    position: relative;
    margin: 70px;
    
}
#quiz {
   width: 100px;
   text-align: justify;
   font-family: 'Inter', sans-serif;
   position: relative;
   
}
.question{
  font-weight: 800;
  font-size: 18px;
  text-align: center;
     position: relative;
}
.answers {
    margin-bottom: 20px;
    text-align: left;
    width: 100px;
    font-size: 12px;
       position: relative;
}
#submit{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background-color: #253241;
  color: #fff;
  border: 0px;
  border-radius: 15%;
  padding: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}
}

@media screen and (max-width: 600px) {
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
        display: block;
        height: auto;
        line-height: 1;
        margin:auto;
        width: 400px;
        }
.item img{
    height: 300px;
    width: 400px;
    position: relative;
}
}

